body {
background: black;
color: white;
text-align: center;
font-family: Arial;
}

.screen {
display: none;
height: 100vh;
justify-content: center;
align-items: center;
flex-direction: column;
}

.active {
display: flex;
}

.photo {
width: 250px;
border-radius: 20px;
}
