body {
  margin: 0;
  background: #ffd6e7;
  text-align: center;
}

/* Screen */
.screen {
  display: none;
  height: 100vh;
  padding: 30px;
}

.active {
  display: block;
}

/* Cake */
.cake {
  font-size: 100px;
  margin-top: 50px;
}

/* Candle */
.candle {
  font-size: 100px;
  margin-top: 50px;
  cursor: pointer;
}

/* 💖 BIG MESSAGE */
#typing {
  font-family: 'Great Vibes', cursive;
  font-size: 32px;        /* 🔥 BIG TEXT */
  line-height: 2;         /* readable */
  padding: 30px;
  max-width: 90%;
  margin: auto;
  color: #ff2e63;
}
